<h1>All Projects</h1>
<div class="row-fluid">
<% @projects.each do |project| %>
  <div class="row-fluid search_result">
    <div class="span2 search_picture">
      <% @entity = project %>
      <%= render :partial => 'shared/show_big_thumbnail' %>	
    </div>
    <div class="span6">
      <h3><%= link_to project.name, project %></h3>
      <%= render :partial => 'show_member_box' %>
    </div>
    <div class="span4">
      <p>
        <% if project.description.length < 250 %>
          <%= project.description %>
        <% else %>
          <%= project.description[0..250] + '...' %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
</div>