<h1>All Projects</h1>
<div class="row-fluid">
<% @projects.each do |project| %>
  <div class="row-fluid search_result">
    <div class="span2 search_picture">
      <% @entity = project %>
      <%= render :partial => 'shared/show_big_thumbnail' %>	
    </div>
    <div class="span6">
      <h3 class="search_title"><%= link_to project.name, project %></h3>
      <%= render :partial => 'show_member_box' %>
    </div>
    <div class="span4">
      <% if project.description %>
        <p>
          <% if project.description.length < 400 %>
            <%= project.description %>
          <% else %>
            <%= project.description[0..400] + '...' %>
          <% end %>
        </p>
      <% else %>
        <p>
          No description.
        </p>
      <% end %>
    </div>
  </div>
<% end %>
</div>