<h1>Create a Project</h1>

<%= form_for @project, :url => {:action => "create"} do |f| %>
	<%= label_tag("Project Owner") %>
	<% researcher_array = Researcher.all.map {|r| ["#{r.last_name}, #{r.first_name}", r.id]} %>
	<%= select_tag(:researcher_id, options_for_select(researcher_array)) %>
	<%= f.label(:name, "Project Name: ") %> 
  	<%= f.text_field :name %> <br />
  	<%= f.text_area :description, :size => "60x12" %> <br />
  	<%= f.submit "Create" %>
<% end %>
