<h1>Edit Group</h1>
<%= render 'shared/show_errors' %>
<%= form_for @group do |f| %>
  <p>
    Email: <%= f.text_field :email %> <br />
    Description: <%= f.text_area :description %> <br />
    <%= f.submit %>
  </p>
<% end %>