<!--<div class="header banner">-->
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <!--<div id="logo">-->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      
      <%= link_to(image_tag("/assets/logo.png", :border => 0, :width => '60'), "/", :class => 'brand')%>
      
      <div class="nav-collapse navbar-responsive-collapse in collapse" style="height: auto;">
        <%= form_tag("/search/search", :method => "get", :class => 'navbar-form pull-left') do %>
          <%= select_tag(:type, options_for_select([["Researchers", 1], ["Groups", 2], ["Projects", 3]], 1), :class => "span2") %>
          <%= text_field_tag(:q, nil, :class => "search-query span2") %>
          <%= submit_tag("Submit", :class => "btn btn-primary" ) %>
        <% end %>
        <!--<div id="user_input_header">-->
        <ul class="nav">
          <li><a href="/projects">P</a></li>
          <li><a href="/groups">G</a></li>
          <li><a href="/researchers">R</a></li>
        </ul>
        <% if session[:current_user_id] %>
          <ul class="nav pull-right">
            <li> <%= link_to 'Welcome ' + session[:current_user_first_name] + '!', researcher_path(session[:current_user_id]) %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Logout?', logout_researchers_path %></li>
          </ul>
        <% else %>
          <ul class="nav pull-right">
            <li><%= link_to 'New Account?', new_researcher_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Login?', login_researchers_path %></li>
          </ul>
        <% end %>
      </div>
      <!--</div>-->
    </div>
  </div>
</div>