<div class="nav nav-list">
  <% user = nil if local_assigns[:user].nil? %>
  <% group = nil if local_assigns[:group].nil? %>
  <% project = nil if local_assigns[:project].nil? %>
  <% if user %>
    <li class="nav-header">Projects</li>
      <% user.memberof.each do |p| %>
        <div class="small_profile">
          <% @entity = p %>
          <%= render :partial => 'shared/show_thumbnail' %>
          <%= link_to p.name, project_path(p) %>
        </div>
      <% end %>
      <% user.owned_projects.each do |p| %>
        <div class="small_profile">
          <% @entity = p %>
          <%= render :partial => 'shared/show_thumbnail' %>
          <%= link_to p.name, project_path(p) %>
        </div>
      <% end %>
    <li class="nav-header">Groups</li>
      <% user.groups.each do |g| %>
        <div class="small_profile">
          <% @entity = g %>
          <%= render :partial => 'shared/show_thumbnail' %>
          <%= link_to g.name, group_path(g) %>
        </div>
      <% end %>
    <li class="nav-header">Related Researchers</li>
      <% user.friends.each do |f| %>
        <div class="small_profile">
          <% @entity = f %>
          <%= render :partial => 'shared/show_thumbnail' %>
          <%= link_to f.first_name + " " + f.last_name, researcher_path(f) %>
        </div>
      <% end %>
  <% elsif group %>
    <li class="nav-header">Members</li>
      <% group.researchers.each do |r| %>
        <div class="small_profile">
          <% @entity = r %>
          <%= render :partial => 'shared/show_thumbnail' %>
          <%= link_to r.first_name + " " + r.last_name, researcher_path(r) %>
        </div>
      <% end %>
  <% elsif project %>
    <li class="nav-header">Owner</li>
      <div class="small_profile">
        <% @entity = project.owner %>
        <%= render :partial => 'shared/show_thumbnail' %>
        <%= link_to project.owner.first_name + " " + project.owner.last_name, researcher_path(project.owner) %>
      </div>
    <li class="nav-header">Members</li>
      <% project.members.each do |r| %>
        <div class="small_profile"> 
          <% @entity = r %>
          <%= render :partial => 'shared/show_thumbnail' %>
          <%= link_to r.first_name + " " + r.last_name, researcher_path(r) %>
        </div>    
      <% end %>
  <% end %>
</div>