<!--_whiteboard.html.erb -->
<%if session[:current_user_id] %>
 		<%= javascript_include_tag "socket.io.min" %>
        <%= javascript_include_tag "evCanvas" %>
        <%= javascript_include_tag "wbprimatives" %>
        <%= javascript_include_tag "wbio" %>
        <%= javascript_include_tag "wbui" %>
        <script type='text/javascript'>
          var uid = '<%= session[:current_user_id] %>';
          var name = '<%= session[:current_user_first_name] %>';
          $(function(){
            
            ioChatServer="http://ancho.stanford.edu:8989/"
            ioInit(); 
          }); 
        </script>
<div id="whiteboard_flyout" class="modal hide fade" >
	<div class="modal-header">
		<h3 class="whiteboard_title">Whiteboard with: </h3> 
		    <div class="dropdown">    			
    			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Add friends<span class="caret"></span></a>
   			 	<ul class="dropdown-menu whiteboard_friend_list" role="menu" aria-labelledby="dLabel">
    			</ul>
    		</div>
	</div>
	<div class="modal-body">
		<!-- insertion point for canvas--> 
		<div class="canvas_wrapper">
		</div>
	</div>
	<div class="modal-footer">
		<button  class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>  
</div> 
<!-- chat insertion point-->
<div class="chat_bar">
	<div class="chat chat_nub friend_list_nub" >
		<div class="chat chat_friend_list chat_window">
			<div class="chat chat_title_bar">
				<span class="chat friend_list_title">Loading...</span>
				<span class="chat friend_list_toggle chat_btn" onClick="uiHideFriendList()">-</span>
			</div>
			<div class="chat chat_body_wrapper">
				<div class="chat chat_friend_list_body"></div>
			</div> 
		</div> 
	</div> 
</div>
<% end %>