<%= form_tag({:controller => 'work_experiences', :action => 'add_work_experience'}, {:method => 'post', :class => 'form-horizontal'}) do %>
  <div class="control-group">
    <label class="control-label">Type</label>
    <div class="controls">
      <select class="input-medium" id="work_experience_type">
        <option>Company</option>
        <option>Research Lab</option>
      </select>
    </div>
  </div>
  <div class="control-group company_controls">
    <label class="control-label" for="company_name">Company Name</label>
    <div class="controls">
      <%= text_field_tag :company_name %>
    </div>
  </div>
  <div class="control-group company_controls">
    <label class="control-label" for="company_location">Location</label>
    <div class="controls">
      <%= text_field_tag :company_location %>
    </div>
  </div>
  <div class="control-group research_lab_controls">
    <label class="control-label" for="research_lab_name">Research Lab Name</label>
    <div class="controls">
      <%= text_field_tag :research_lab_name %>
    </div>
  </div>
  <div class="control-group research_lab_controls">
    <label class="control-label" for="research_lab_location">Location</label>
    <div class="controls">
      <%= text_field_tag :research_lab_location %>
    </div>
  </div>
    <div class="control-group research_lab_controls">
    <label class="control-label" for="research_lab_focus">Research Lab Focus</label>
    <div class="controls">
      <%= text_field_tag :research_lab_focus %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
      <%= text_field_tag :title %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Start Date</label>
    <div class="controls">
      <select class="input-medium" id="work_experience_start_date_month">
        <%= render 'shared/select_months' %>
      </select>
      <select class="input-small" id="work_experience_start_date_year">
        <%= render 'shared/select_years' %>
      </select>
      <%= hidden_field_tag :hidden_work_experience_start_date_month, '1' %>
      <%= hidden_field_tag :hidden_work_experience_start_date_year, @years.last %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">End Date</label>
    <div class="controls">
      <select class="input-medium" id="work_experience_end_date_month">
        <%= render 'shared/select_months' %>
      </select>
      <select class="input-small" id="work_experience_end_date_year">
        <%= render 'shared/select_years' %>
      </select>
      <%= hidden_field_tag :hidden_work_experience_end_date_month, '1' %>
      <%= hidden_field_tag :hidden_work_experience_end_date_year, @years.last %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="activity">Activities</label>
    <div class="controls">
      <div id="activities"></div>
      <%= text_area_tag :activity %>
      <i id="work_experience_plus" class="icon-plus"></i>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= submit_tag 'Add New Work Experience', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>