<% if @researcher.work_experiences %>
  <% @researcher.work_experiences.each do |w| %>
    <div class="experience_header">
      <h4><%= w.title %></h4>
      <% if ! w.company.nil? %>
        <p><%= w.company.name + '  |  ' + w.company.location %></p>
      <% elsif ! w.research_lab.nil? %>
        <p><%= w.research_lab.name + '  |  ' + w.research_lab.location %></p>
      <% end %>
      <% if w.start_date and w.end_date %>
      <p class="experience_date">
        <%= w.start_date.getlocal.strftime("%B %Y") + ' - ' + w.end_date.getlocal.strftime("%B %Y") %> 
      </p>
      <% end %>
    <% w.activities.each do |a| %> 
      <p class="activity">
        <%= '-  ' + a.activity %>
      </p>
    <% end %>
    </div>
  <% end %>
<% else %>
  <%= 'Nothing here yet.' %>
<% end %>
<% if @currentUserPage %>
  <%= link_to edit_researcher_path(:anchor => 'experience') do %>
    <i class="icon-plus"></i>
    Add Experience
  <% end %>
<% end %>