<% if @researcher.educations %>
  <% @researcher.educations.each do |e| %>
    <div class="experience_header">
      <h4><%= e.school.name %></h4>
      <% if e.degree && e.major %>
        <% if !e.degree.empty? && !e.major.empty? %>
          <h5><%= e.degree + ', ' + e.major %></h5>
        <% end %>
      <% end %>
      <% if e.specialization %>
        <% if !e.specialization.empty? %>
          <p><%= 'Specialization in ' + e.specialization %></p>
        <% end %>
      <% end %>
      <% if e.start_date and e.end_date %>
      <p class="experience_date">
        <%= e.start_date.getlocal.strftime("%B %Y") + ' - ' + e.end_date.getlocal.strftime("%B %Y") %> 
      </p>
      <% end %>
    </div>
    <!--
    <% e.courses.each do |c| %> 
      <p class="activity">
        <%= c.course_title + '  -  ' + c.description %>
      </p>
    <% end %>
    -->
  <% end %>
<% else %>
  <%= 'Nothing here yet.' %>
<% end %>
<% if @currentUserPage %>
  <%= link_to edit_researcher_path(:anchor => 'education') do %>
    <i class="icon-plus"></i>
    Add Education
  <% end %>
<% end %>