<h1>Edit User</h1>
<%= render 'shared/show_errors' %>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">Personal Information</a>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab">Education</a>
    </li>
    <li>
      <a href="#tab3" data-toggle="tab">Work Experience</a>
    </li>
    <li>
      <a href="#tab4" data-toggle="tab">Publications</a>
    </li>
    <li>
      <a href="#tab5" data-toggle="tab">Skills and Interests</a>
    </li>
  </ul>

  <div class="tab-content">
    <!-- Personal Profile -->
    <div class="tab-pane active" id="tab1">
      <%= render :partial => 'edit_personal_profile' %>
    </div>

    <!-- Education -->
    <div class="tab-pane" id="tab2">
      <div class="row-fluid">
        <div class="span7">
          <%= render :partial => 'edit_education' %>
        </div>
        <div class="span4">
          <%= render :partial => 'show_education' %>
        </div>
      </div>
    </div>

    <!-- Work Experience -->
    <div class="tab-pane" id="tab3">
      <div class="row-fluid">
        <div class="span7">      
          <%= render :partial => 'edit_work_experience' %>
        </div>
        <div class="span4">
          <%= render :partial => 'show_work_experiences' %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="tab4">
      <p>Nothing here yet.</p>
    </div>
    <div class="tab-pane" id="tab5">
      <%= form_tag({:controller => "researchers", :action => "addInterest"}, :method => "get") do %>
        <%= text_field_tag(:tag) %>
        <%= hidden_field_tag :id, @researcher.id %>
        <%= submit_tag "Add Interest", :class => "btn btn-success" %>
      <% end %>

      <%= form_tag({:controller => "researchers", :action => "addSkill"}, :method => "get") do %>
        <%= text_field_tag(:tag) %>
        <%= hidden_field_tag :id, @researcher.id %>
        <%= submit_tag "Add Skill", :class => "btn btn-success"%>
      <% end %>
    </div>
  </div>
</div>