<h1>Edit User</h1>
<%= render :partial => 'back_to_profile', :id => params[:id] %> 
<%= render 'shared/show_errors' %>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#personal" data-toggle="tab">Personal Information</a>
    </li>
    <li>
      <a href="#education" data-toggle="tab">Education</a>
    </li>
    <li>
      <a href="#experience" data-toggle="tab">Work Experience</a>
    </li>
    <li>
      <a href="#publication" data-toggle="tab">Publications</a>
    </li>
    <li>
      <a href="#skill" data-toggle="tab">Skills and Interests</a>
    </li>
  </ul>

  <div class="tab-content">
    <!-- Personal Profile -->
    <div class="tab-pane active" id="personal">
      <%= render :partial => 'edit_personal_profile' %>
    </div>

    <!-- Education -->
    <div class="tab-pane" id="education">
      <div class="row-fluid">
        <div class="span7">
          <%= render :partial => 'edit_education' %>
        </div>
        <div class="span4">
          <%= render :partial => 'show_education' %>
        </div>
      </div>
    </div>

    <!-- Work Experience -->
    <div class="tab-pane" id="experience">
      <div class="row-fluid">
        <div class="span7">      
          <%= render :partial => 'edit_work_experience' %>
        </div>
        <div class="span4">
          <%= render :partial => 'show_work_experiences' %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="publication">
      <p>Nothing here yet.</p>
    </div>

    <!-- Skills and Interests -->
    <div class="tab-pane" id="skill">
      <div class="span7">
        <%= render :partial => 'edit_skill' %>
        <%= render :partial => 'edit_interest' %>
      </div>
      <div class="span4">
        <%= render :partial => 'show_skills' %>
        <%= render :partial => 'show_interests' %>
      </div>
    </div>
  </div>
</div>