<h1>Send Email</h1>
<%= render :partial => 'shared/back_to_profile', :id => params[:id] %> 

<%= form_tag(nil, :class => "form-horizontal") do %>
  <div class="control-group">
    <label class="control-label" for="from">From</label>
    <div class="controls text-label">
      <%= link_to @sender.first_name + ' ' + @sender.last_name, @sender %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="to">To</label>
    <div class="controls text-label">
      <%= link_to @recipient.first_name + ' ' + @recipient.last_name, @recipient %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="subject">Subject</label>
    <div class="controls">
      <%= text_field_tag('Subject', nil, :class => 'input-large', :type => 'text', :placeholder => 'Write your subject here.') %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="message">Message</label>
    <div class="controls">
      <%= text_area_tag('Body', nil, :rows => 10, :class => 'input-large', :type => 'text', :placeholder => 'Write your message here.') %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= submit_tag 'Send', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
