<!-- new.html.erb -->
<h1>Add new Researcher</h1>
<%= form_for @researcher, :url => {:action => "create"} do |f|  %>
<%= f.label( :name, "Name:" )%> 
<%= f.text_field :name %>
<%= f.label(:email, "Email:") %> 
<%= f.text_field :email %>
<%= f.submit "Create" %> 

<% end %> 