<div class="span9">
  <div class="row-fluid border_row">
    <div class="span3">
      <div id="profile_picture">
        <% if @researcher.photo %>
          <%= link_to image_tag(@researcher.photo.file_name, :alt => "Profile Picture"), {:controller => 'researchers', :action => 'edit_profile_picture', :id => params[:id]} %>
        <% else %>
          <%= link_to image_tag("default-profile-pic.png", :alt => "Profile Picture"), {:controller => 'researchers', :action => 'edit_profile_picture', :id => params[:id]} %>
        <% end %>
      </div>
    </div>
    <div class="span9">
      <h1>Click the profile that is actually yours</h1>
      <h1><%= @researcher.first_name + ' ' + @researcher.last_name %></h1>
        <% profilePresent = false%>
        <%= @potential_publications.authors.each do |author| %>
          <%= link_to author.name, {:controller => "researchers", :action => "validate", :id => params[:id], :authorid =>  author.id, :citations => author.citations} %>
          <%= link_to "Google Scholar Profile", author.author_url%>
        <%end%>
        <%@potential_publications.authors do |pub|%>
          <%=pub%>
        <%end%>
    </div>
  </div> 
  <div id="friends"> 
    <%= render :partial => "friend", :collection => @friends %>  
  </div>
</div>
<div class="span3 well sidebar">
  <%= render :partial => "shared/sidebar", :locals => { :user => @researcher} %>
</div>

