<% unless @user %>
<h1><%= @researcher.first_name + ' ' + @researcher.last_name %></h1>
<p><%= @researcher.email %></p>
<p>Page here</p>
<div id="friends"> 
<%= render :partial => "friend", :collection => @friends %> 
</div> 
<% else %>
<h1><%= @user.first_name + ' ' + @user.last_name %></h1>
<p><%= @user.email %></p>
<p>Welcome to your profile page!</p>
<p><%= link_to "Edit My Info", {:controller => "researchers", :action => "edit"} %></p>
<div id="friends"> 
<%= render :partial => "friend", :collection => @friends %>  
</div> 
<% end %>