<div class="span9">
  <div class="row-fluid border_row">
    <div class="span3">
    <% if @user.photo %>
      <%= link_to image_tag(@user.photo.file_name, :alt => "rss feeds"), {:controller => 'researchers', :action => 'edit_profile_picture', :id => params[:id]} %>
    <% else %>
      <%= link_to image_tag("default-profile-pic.png", :alt => "rss feeds"), {:controller => 'researchers', :action => 'edit_profile_picture', :id => params[:id]} %>
    <% end %>
    </div>
    <div class="span9">
      <h1><%= @user.first_name + ' ' + @user.last_name %></h1>
      <% if @currentUserPage %>
      <p><%= @user.email %></p>
          <p><%= link_to "Edit My Info", {:controller => "researchers", :action => "edit"} %></p>
          <p><%= link_to "Create A Project", {:controller => "projects", :action => "new"} %></p>
          <p><%= link_to "Create A Group", {:controller => "groups", :action => "new"} %></p>
      <% else %>
      <p><%= link_to @user.email, {:controller =>"researchers", :action => "email"} %></p>
      <% end %>
    </div>
  </div>
  <div class="row-fluid border_row">
    <div class="tabbable span12"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Experience</a></li>
        <li><a href="#tab2" data-toggle="tab">Publications</a></li>
        <li><a href="#tab3" data-toggle="tab">About Me</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <p><%= @user.experience %></p>
        </div>
        <div class="tab-pane" id="tab2">
          <p><%= @user.publications %></p>
        </div>
        <div class="tab-pane" id="tab3">
          <div>
            <p><%= @user.about_me %></p>
          </div>
          <div>
            <h6>Interests</h6>
            <% @user.interest_list.each do |interest|%>
              <p><%= interest%></p>
            <%end%>
          </div>
          <div>
          <h6>Skills</h6>
          <% @user.skill_list.each do |skill|%>
            <p><%= skill%></p>
          <%end%>
          </div>
          <div>
            <%= form_tag({:controller => "researchers", :action => "removeInterest"}, :method => "get") do%>
              <%= text_field_tag(:tag) %>
              <%= hidden_field_tag :id, @user.id %>
              <%= submit_tag "Remove Interest", :class => "btn btn-success" %>
            <%end%>
          </div>
          <div>
            <%= form_tag({:controller => "researchers", :action => "removeSkill"}, :method => "get") do%>
              <%= text_field_tag(:tag) %>
              <%= hidden_field_tag :id, @user.id %>
              <%= submit_tag "Remove Skill",:class => "btn btn-success" %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid border_row">
    <% if @currentUserPage%>
        <%= form_for([@user, Post.new], :html => {:class => 'input-append input-block-level'}) do |p| %>
          <%= p.text_field(:desc, {:placeholder => "Update Your Status", :class => "span11"}) %>
          <%= p.hidden_field(:creator_id, :value => session[:current_user_id]) %> 
          <%= p.submit "Post" %>
        <% end %>
    <% end %>
    <% @user.posts.each do |p| %>
      <% creator = Researcher.find_by_id(p.creator_id)%>
      <%= creator.first_name + " " + creator.last_name + ": " + p.desc %>
    <% end %>
  </div>
  <div id="friends"> 
  <%= render :partial => "friend", :collection => @friends %>  
  </div>
</div>
<div class="span3 well sidebar">
  <%= render :partial => "shared/sidebar", :locals => { :user => @user} %>
</div>

