<h1>Search Groups</h1>
<h3>Searched for <%= '"' + @query + '":' %></h3>
<div class="row-fluid">
<% if !@pq.empty? %>
  <% while @pq.empty? == false %>
    <% app = @pq.pop %>
    <% id = app[:ID] %>
    <% group = Group.find_by_id(id)%>
    <div class="row-fluid search_result">
      <div class="span2 search_picture">
        <% @entity = group %>
        <%= render :partial => 'shared/show_big_thumbnail' %> 
      </div>
      <div class="span6">
        <h3 class="search_title"><%= link_to group.name, group %></h3>
        <%= render :partial => 'show_member_box' %>
      </div>
      <div class="span4">
        <% if group.description %>
          <p>
            <% if group.description.length < 400 %>
              <%= group.description %>
            <% else %>
              <%= group.description[0..400] + '...' %>
            <% end %>
          </p>
        <% else %>
          <p>No description.<p>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No results found.</p>
<% end %>
</div>