<!DOCTYPE html>
<html>
<head>
  <title>CollabmeRails</title>
  <%= yield :head %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery-2.0.0.min" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
  	<%= render "shared/header" %> 
  	<div class="container-fluid contents">
  	  <div class="span10">
  		<%= yield %>
  		</div>
  		<div class="span2 sidebar">
  		<%= render "shared/sidebar" %>
  		</div>
  	</div>
    <div class="push"></div>
  </div>
	<div class="footer banner">
		<p>Contact: 
      <a href="mailto:CollabMe@null.net">E-Mail</a>
      <a href="https://github.com/jnthntatum/CollabMe">GitHub</a>
      Now powered by bootstrap.
    </p>
	</div>
</body>
</html>
