<!DOCTYPE html>
<html>
<head>
  <title>CollabmeRails</title>
  <%= yield :head %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery-2.0.0.min" %>
  <%= csrf_meta_tags %>
  <% if session[:current_user_id] %>
        <!-- init chat --> 
        <%= javascript_include_tag "evCanvas" %>
        <%= javascript_include_tag "wbprimatives" %>
        <%= javascript_include_tag "wbio" %>
        <%= javascript_include_tag "wbui" %>
        <%= stylesheet_link_tag "whiteboard" %>
        <script type='text/javascript'>
          var uid = <%= session[:current_user_id] %>;
          var name = <%= session[:current_user_first_name] %>; 
        </script>
</head>
<body>
  <div class="wrapper">
  	<%= render "shared/header" %> 
  	<div class="container-fluid contents">
  	  <div class="row-fluid">
  	    <%= yield %>
  		</div>
  	</div>
    <div class="push"></div>
  </div>
	<%= render "shared/footer" %>
</body>
</html>
