<!DOCTYPE html>
<html>
<head>
  <title>CollabmeRails</title>
  <%= yield :head %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-2.0.0.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "whiteboard" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
  	<%= render "shared/header" %> 
  	<div class="container-fluid contents">
  	  <div class="row-fluid">
  	    <%= yield %>
  		</div>
  	</div>
    <div class="push"></div>
  </div>
  <%= render "shared/whiteboard" %> 
	<%= render "shared/footer" %>
</body>
</html>
